@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="w-100 h-100 position-relative">
    <div class=" Blauwachtergrond mx-auto my-auto DivKadercentreren  col-md-5 col-sm-10 h-50 ">
        <div>
            <form id="account" method="post" class="h-100 w-100">
                <h1 class="KleinTitel text-center ">@ViewData["Title"]</h1>

                <section asp-validation-summary="ModelOnly" class="text-danger"></section>

                <section class="form-group m-5">
                    <label asp-for="Input.UserName"></label>
                    <input asp-for="Input.UserName" class="form-control" />
                    <span asp-validation-for="Input.UserName" class="text-danger"></span>
                </section>

                <section class="form-group m-5">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </section>

                <section class="form-group m-5">
                    <button type="submit" class="btn btn-orange m-5">Log in</button>
                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="btn-orange m-5 float-right">Inschrijven</a>
                </section>
                @*<section class="form-group m">
                        <p>
                            <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                        </p>
                    </section>*@
            </form>
        </div>

    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
