@model StartSpelerMVC.ViewModels.DeleteProducttypeViewModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_NoLayout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ProductType</h4>
    <hr />
    <dl class="row">
        <dt class = class="col-sm-6 text-right">
            @Html.DisplayNameFor(model => model.ProductType.Naam)
        </dt>
        <dd class="col-sm-6 text-left">
            @Html.DisplayFor(model => model.ProductType.Naam)
        </dd>
    </dl>
    <section class="KnopOnderAanDiv">
        <form asp-action="Delete">
            <input type="hidden" asp-for="ProductType.ProductTypeID" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-action="Index">Back to List</a>
        </form>
    </section>
</div>
