@model StartSpelerMVC.ViewModels.DetailsProducttypeViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_NoLayout.cshtml";
}



<div class="w-100 h-100 position-relative">
    <div class="Blauwachtergrond mx-auto my-auto DivKadercentreren  col-md-6 col-sm-10 h-75 text-center">
        <dl class="row">
            <dt class="col-sm-6 text-right" >
                @Html.DisplayNameFor(model => model.ProductType.Naam)
            </dt>
            <dd class="col-sm-6 text-left">
                @Html.DisplayFor(model => model.ProductType.Naam)
            </dd>
        </dl>
        <div class="KnopOnderAanDiv">
            <a asp-action="Edit" asp-route-id="@Model.ProductType.ProductTypeID">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>

