@model StartSpelerMVC.ViewModels.EditProducttypeViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_NoLayout.cshtml";
}

<div class="w-100 h-100 position-relative">
    <div class=" BlauweKleur mx-auto my-auto DivKadercentreren  rounded col-md-5 col-sm-10 h-75 text-center ">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProductType.ProductTypeID" />
            <div class="form-group">
                <label asp-for="ProductType.Naam" class="control-label"></label>
                <input asp-for="ProductType.Naam" class="form-control" />
                <span asp-validation-for="ProductType.Naam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
        <div>
            <a asp-action="Index" class="btn-orange">Back to List</a>
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
