@font-face {
    font-family: "NewFont";
    src: url("ShadowsIntoLight-Regular.ttf") format("truetype");
    font-stretch: ultra-expanded;
}
body {
}
.TitelKleur {
    position:relative;
    width: 100vw;
    height: 15vh;
    font-family: NewFont;
    background-color: #2B7CC7;
    color: white;
    margin-bottom:25px;
}

.KleinTitel {
    font-family: NewFont;
}
/*Oranje buttons*/
.btn-orange {
    color: #fff;
    background-color: #ff6200;
    padding: 10px;
    border-color: #ff751f;
    border: 1px solid #ff751f
}

    .btn-orange:hover {
        color: #fff;
        padding: 10px;
        background-color: #ff751f;
        border-color: #ff6200;
    }

/*blauwe achtergrond met witte rand in*/

.Blauwachtergrond {
    background-color: #2B7CC7;
    border-radius:20px;
    position: absolute;
}

    .Blauwachtergrond div {
        position:absolute;
        border: 3px solid white;
        color: white;
        margin: 25px;
        border-radius: 20px;
        left:0;
        top:0;
        right:0;
        bottom:0;
    }
/*Witte achtergrond*/
.WitteAchtergrond{
    border: 2px solid #2B7CC7;
    background-color:white;
    text-align:center;
}

/*Evenement Detailscherm*/
.EvenementDetail {
    background-color: #4b2e10;
    box-shadow: 10px 10px 10px #000000 inset, -10px -10px 10px #000000 inset, 30px 30px 60px #120604 inset, -30px -30px 60px #120604 inset, 100px 100px 100px #392314 inset, -100px -100px 100px #392314 inset;
    color: white;
    border-radius: 20px;
    border: 5px solid #ffbb00;
}

/*Button evenementDetail*/

.btn-EvenementDetail {
    background-color: #d21502;
    box-shadow: 5px 5px 5px #4c0807 inset, -5px -5px 5px #4c0807 inset;
    color: white;
    width: auto;
    height: auto;
    padding: 10px;
    border: 2px solid #ffbb00;
    border-radius: 4px;
}





