@font-face {
    font-family: "NewFont";
    src: url("ShadowsIntoLight-Regular.ttf") format("truetype");
    font-stretch: ultra-expanded;
}
body {
}
.footer {
    position:fixed;
    bottom:0;
}
.BlauweKleur
{
    background-color: #2B7CC7;
    color:white;
}
.TitelKleur {
    position:relative;
    width: 100vw;
    height: 15vh;
    font-family: NewFont;
    background-color: #2B7CC7;
    color: white;
    margin-bottom:25px;
}
thead {
    color: #fff;
    background-color: #ff6200;
    text-align:center;
}
td {text-align:center}
.KleinTitel {
    font-family: NewFont;
    color:white;
}
/*Oranje buttons*/
.btn-orange {
    color: #fff;
    background-color: #ff6200;
    padding: 10px;
    width:30%;
    border-color: #ff751f;
    border: 1px solid #ff751f;
    text-align:center;
    text-decoration:none;
}

    .btn-orange:hover {
        color: #fff;
        padding: 10px;
        background-color: #ff751f;
        border-color: #ff6200;
        text-align: center;
        text-decoration: none;
    }
.btn-red {
    color: #fff;
    background-color: #FF0000;
    padding: 10px;
    width: 30%;
    border-color: #e35d5d;
    border: 1px solid #e35d5d;
    text-align: center;
    text-decoration: none;
}

    .btn-red:hover {
        color: #fff;
        padding: 10px;
        background-color: #e35d5d;
        border-color: #FF0000;
        text-align: center;
        text-decoration: none;
    }

/*blauwe achtergrond met witte rand in*/

.Blauwachtergrond {
    background-color: #2B7CC7;
    border-radius:20px;
    position: absolute;
}

.Blauwachtergrond div {
   position:absolute;
   border: 3px solid white;
   color: white;
   margin: 25px;
   border-radius: 20px;
   left:0;
   top:0;
   right:0;
   bottom:0;
}
/*Witte achtergrond*/
.WitteAchtergrond{
    border: 2px solid #2B7CC7;
    background-color:white;
    text-align:center;
}

/*Evenement Detailscherm*/
.EvenementDetail {
    background-color: #4b2e10;
    box-shadow: 10px 10px 10px #000000 inset, -10px -10px 10px #000000 inset, 30px 30px 60px #120604 inset, -30px -30px 60px #120604 inset, 100px 100px 100px #392314 inset, -100px -100px 100px #392314 inset;
    color: white;
    border-radius: 20px;
    border: 5px solid #ffbb00;
}
.MiniEvenementDetail {
    background-color: #4b2e10;
    box-shadow: 1px 1px 1px #000000 inset, -1px -1px 1px #000000 inset, 10px 10px 10px #120604 inset, -10px -10px 10px #120604 inset, 20px 20px 20px #392314 inset, -20px -20px 20px #392314 inset;
    color: white;
    border: 1px solid #ffbb00;
    border-radius:8px;
}

/*Button evenementDetail*/

.btn-EvenementDetail {
    background-color: #d21502;
    box-shadow: 5px 5px 5px #4c0807 inset, -5px -5px 5px #4c0807 inset;
    color: white;
    width: auto;
    height: auto;
    padding: 10px;
    border: 2px solid #ffbb00;
    border-radius: 4px;
}
/*padding ruimte tabellen*/
td
{
 padding-top:30px;
 padding-left:10px;
 padding-bottom:30px;
 padding-right:5px;
}

/* HIDE RADIO */
[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
/*radiobutton */

[type=radio] + img {
    cursor: pointer;
}

/* radio STYLES */
    [type=radio]:checked + img {
        outline: 5px solid #ffbb00;
        box-shadow: -5px -5px 5px #ffbb00 inset, 5px 5px 5px #ffbb00 inset;
        border-radius:4px;
    }
input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #ffa500;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}
/*Centreren*/
.DivKadercentreren
{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

input[type=checkbox] + label {
    color: white;
    font-style: italic;
}

input[type=checkbox]:checked + label {
    color: #ff6200;
    font-style: normal;
} 
.KnopOnderAanDiv
{
    position: absolute;
    bottom:50px;
    left:0;
    right:0;
}

