@{Layout = "~/Views/Shared/_NoLayout.cshtml";}
<div class="w-100 h-100  position-relative">
    <div class="Blauwachtergrond mx-auto my-auto DivKadercentreren  col-md-5 col-sm-10 h-50 mx-auto">
        <div>
            <h1 class="KleinTitel">Login</h1>
            <p><input type="Text" name="name" value="Gebruikersnaam" /></p>
            <p><input type="password" name="name" value="Wachtwoord" /></p>
            <p>
                <a class="btn-orange" id="login" asp-area="Identity" asp-page="/Account/Login">Log in</a>
                <a class="btn-orange" id="login" asp-controller="Home" asp-action="Index">Annuleren</a>
            </p>
        </div>
    </div>
</div>
