@{Layout = "~/Views/Shared/_NoLayout.cshtml";}
<div class="w-100 h-100  position-relative">
    <div class="Blauwachtergrond mx-auto my-auto position-absolute col-md-5 col-sm-10 h-50 mx-auto">
        <div>
            <h1 class="KleinTitel">Login</h1>
            <p><input type="Text" name="name" value="Gebruikersnaam" /></p>
          @*  @Html.PasswordFor(m=>m.Password)*@
            <p><a class="btn-orange" id="login" asp-area="Identity" asp-page="/Account/Login">Log in</a></p>
        </div>
    </div>
</div>
