@model StartSpelerMVC.ViewModels.CreatePersoonViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Persoon</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Persoon.Voornaam" class="control-label"></label>
                <input asp-for="Persoon.Voornaam" class="form-control" />
                <span asp-validation-for="Persoon.Voornaam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Persoon.Achternaam" class="control-label"></label>
                <input asp-for="Persoon.Achternaam" class="form-control" />
                <span asp-validation-for="Persoon.Achternaam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Persoon.Username" class="control-label"></label>
                <input asp-for="Persoon.Username" class="form-control" />
                <span asp-validation-for="Persoon.Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Persoon.Geboortedatum" class="control-label"></label>
                <input asp-for="Persoon.Geboortedatum" class="form-control" />
                <span asp-validation-for="Persoon.Geboortedatum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Persoon.Email" class="control-label"></label>
                <input asp-for="Persoon.Email" class="form-control" />
                <span asp-validation-for="Persoon.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Persoon.Wachtwoord" class="control-label"></label>
                <input asp-for="Persoon.Wachtwoord" class="form-control" />
                <span asp-validation-for="Persoon.Wachtwoord" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Persoon.IsActief" /> @Html.DisplayNameFor(model => model.Persoon.IsActief)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Persoon.IsAdmin" /> @Html.DisplayNameFor(model => model.Persoon.IsAdmin)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Persoon.AangemaaktDatum" class="control-label"></label>
                <input asp-for="Persoon.AangemaaktDatum" class="form-control" />
                <span asp-validation-for="Persoon.AangemaaktDatum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Persoon.DrankkaartID" class="control-label"></label>
                <select asp-for="Persoon.DrankkaartID" class ="form-control" asp-items="Model.Persoon.Drankkaart.DrankkaartID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Persoon.UserID" class="control-label"></label>
                <select asp-for="Persoon.UserID" class ="form-control" asp-items="Model.Persoon.UserID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
