@model StartSpelerMVC.ViewModels.EditPersoonViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Persoon</h4>
<hr />
<div class="w-100 h-100 position-relative">
    <div class=" BlauweKleur mx-auto my-auto DivKadercentreren  col-md-5 col-sm-10 h-50 ">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Persoon.Persoon_ID" />
            <div class="form-group">
                <label asp-for="Persoon.Voornaam" class="control-label"></label>
                <input asp-for="Persoon.Voornaam" class="form-control" />
                <span asp-validation-for="Persoon.Voornaam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Persoon.Achternaam" class="control-label"></label>
                <input asp-for="Persoon.Achternaam" class="form-control" />
                <span asp-validation-for="Persoon.Achternaam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Persoon.Username" class="control-label"></label>
                <input asp-for="Persoon.Username" class="form-control" />
                <span asp-validation-for="Persoon.Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Persoon.Geboortedatum" class="control-label"></label>
                <input asp-for="Persoon.Geboortedatum" class="form-control" />
                <span asp-validation-for="Persoon.Geboortedatum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Persoon.Email" class="control-label"></label>
                <input asp-for="Persoon.Email" class="form-control" />
                <span asp-validation-for="Persoon.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Persoon.Wachtwoord" class="control-label"></label>
                <input asp-for="Persoon.Wachtwoord" class="form-control" />
                <span asp-validation-for="Persoon.Wachtwoord" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Persoon.IsActief" /> @Html.DisplayNameFor(model => model.Persoon.IsActief)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Persoon.IsAdmin" /> @Html.DisplayNameFor(model => model.Persoon.IsAdmin)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
