@model StartSpelerMVC.ViewModels.EditPersoonViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_NoLayout.cshtml";
}

<div class="w-100 h-100 position-relative">
    <div class=" BlauweKleur mx-auto my-auto DivKadercentreren  rounded col-md-5 col-sm-10 h-75 text-center ">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Persoon.Persoon_ID" />
            <input type="hidden" asp-for="Persoon.UserID" />
            <input type="hidden" asp-for="Persoon.Geboortedatum" />
            <input type="hidden" asp-for="Persoon.Drankkaarten" />
            <input type="hidden" asp-for="Persoon.ActieveDrankkaart" />
            <input type="hidden" asp-for="Persoon.CustomUser.Id" />
            <div class="form-group">
                <label asp-for="Persoon.Voornaam" class="control-label"></label>
                <input asp-for="Persoon.Voornaam" class="form-control" />
                <span asp-validation-for="Persoon.Voornaam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Persoon.Achternaam" class="control-label"></label>
                <input asp-for="Persoon.Achternaam" class="form-control" />
                <span asp-validation-for="Persoon.Achternaam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Persoon.Username" class="control-label"></label>
                <input asp-for="Persoon.Username" class="form-control" />
                <span asp-validation-for="Persoon.Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Persoon.Email" class="control-label"></label>
                <input asp-for="Persoon.Email" class="form-control" />
                <span asp-validation-for="Persoon.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Persoon.Wachtwoord" class="control-label"></label>
                <input asp-for="Persoon.Wachtwoord" class="form-control" />
                <span asp-validation-for="Persoon.Wachtwoord" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    @Html.CheckBoxFor(x => x.Persoon.IsActief, FormMethod.Post) <label>Is Actief</label>
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    @Html.CheckBoxFor(x => x.Persoon.IsAdmin, FormMethod.Post) <label>Administrator</label>
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn-orange"/>
            </div>
        </form>
        <div>
            <a asp-action="IndexManager">Back to List</a>
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
