@model StartSpelerMVC.ViewModels.EditDrankkaartViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_NoLayout.cshtml";
}

<div class="w-100 h-100 position-relative">
    <div class=" BlauweKleur mx-auto my-auto DivKadercentreren  col-md-5 col-sm-10 h-75 text-center ">
        <form asp-action="Edit">
            <section asp-validation-summary="ModelOnly" class="text-danger"></section>
            <input type="hidden" asp-for="Drankkaart.DrankkaartID" />
            <section class="form-group">
                <label asp-for="Drankkaart.Prijs" class="control-label"></label>
                <input asp-for="Drankkaart.Prijs" class="form-control" />
                <span asp-validation-for="Drankkaart.Prijs" class="text-danger"></span>
            </section>
            <section class="form-group">
                <label asp-for="Drankkaart.AantalSlots" class="control-label"></label>
                <input asp-for="Drankkaart.AantalSlots" class="form-control" />
                <span asp-validation-for="Drankkaart.AantalSlots" class="text-danger"></span>
            </section>
            <section class="form-group">
                <label asp-for="Drankkaart.Begindatum" class="control-label"></label>
                <input asp-for="Drankkaart.Begindatum" class="form-control" />
                <span asp-validation-for="Drankkaart.Begindatum" class="text-danger"></span>
            </section>
            <section class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Drankkaart.IsBetaald" /> @Html.DisplayNameFor(model => model.Drankkaart.IsBetaald)
                </label>
            </section>
            <section class="form-group">
                <input type="submit" value="Save" class="btn-orange" />
            </section>
            <section>
                <a asp-action="Index" class="btn-orange">Back to List</a>
            </section>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
