@{
    ViewData["Title"] = "Home Page";
    ViewData["Titel"] = "StartSpeler";
    Layout="~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        @*<div>
            <img class="d-inline-block" width="750" height="500" src="~/Images/SSevenement.png" alt="Evenement" />
            <h2> Evenement</h2>
        </div>*@
        <div class="Blauwachtergrond">
            <div><p>HALLO DIT IS EEN TEST</p></div>
        </div>

        <button class="btn-orange">Dit is een oranje button</button>
        <a class="btn-orange" href="#">Dit is een anchor tag</a>
        <input type="button" name="Submit Oranje" />
        <div class="EvenementDetail"> <p> dit is een evenement  <button class="btn-EvenementDetail">Inschrijven</button></p></div>
      

    </div>
</div>

