<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StartSpelerMVC</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/huisstijl.css" />
    <link rel="shortcut icon" type="image/x-icon" href="~/Images/Favicon/favicon-32x32.png" />
</head>
<body>
    <div class="position-absolute h-100 w-100">
        <header class="TitelKleur d-flex align-items-center justify-content-center ">
            <h1 class="w-auto h-auto">@ViewData["Titel"]</h1>
            <partial name="_LoginPartial" />
        </header>
        <div class="h-75 w-100 position-relative">
            @RenderBody();
        </div>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @RenderSection("Scripts", required: false)
    </div>
</body>
</html>
